<jce-user-form (userAddedEvent)="addUser($event)"></jce-user-form>
<jce-spinner [visible] = "isLoading"></jce-spinner>
<div>
 <ul class= "list-group users">
    <li class="list-group-item" 
    *ngFor = "let user of users" 
    [class.active]="currentUser == user" 
    (click)="select(user)">
          <jce-user [user] = "user" (deleteEvant) = "deleteUser($event)"> </jce-user>
     </li>
</ul>








</div>