
<jce-spinner [visible]="isLoading" ></jce-spinner>
<jce-post-form (postAddedEvent)="addPost($event)"></jce-post-form>

 <div>
   <ul class="list-group posts" >
     <li *ngFor = "let post of posts" [class.active]="currentPost==post" (click)="select(post)" class="list-group-item">
     <jce-post [post] = "post"
     (deleteEvent) = "deletePost($event)">
    </jce-post>
    <jce-post [post] ="post"
    (editEvent)="editPost($event)" (updateEvent)="updatePost($event)"> 
     </jce-post>
     </li>
   </ul>
 </div>

